<style>
    .btn-inline {
        padding: 0 .2rem;
    }

    .link-viewer-container {
        position: absolute;
        width: 25rem;
    }

    .link-editor-container {
        position: absolute;
        width: 25rem;
    }

    .content-text {
        white-space: pre-line;
    }

    .loading-spinner {
        display: inline-block;
        -moz-animation-name: loading-spinner;
        -o-animation-name: loading-spinner;
        -webkit-animation-name: loading-spinner;
        animation-name: loading-spinner;
        -moz-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -moz-animation-duration: 4000ms;
        -o-animation-duration: 4000ms;
        -webkit-animation-duration: 4000ms;
        animation-duration: 4000ms;
    }

    @@keyframes loading-spinner {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @@-moz-keyframes loading-spinner {
        from {
            -moz-transform: rotate(0deg);
        }

        to {
            -moz-transform: rotate(360deg);
        }
    }

    @@-webkit-keyframes loading-spinner {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }
</style>



<div class="container pt-3" id="bound-context">

    <div class="row">

        @* loading spinner *@
        <div class="col-12" v-show="asyncOperationsCount > 0">
            <div class="loading-spinner">
                LOADING
            </div>
        </div>



        @* entry list viewer *@
        <div class="col-8 entry-list-container" v-show="entryListViewer.show">
            <button type="button" class="btn btn-primary btn-block" v-on:click="startNewEntry">+ New</button>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" v-for="entry in entries" v-on:click="viewerLoad(entry)">
                    {{entry.name}}
                </a>
            </div>
        </div>

        @* entry viewer *@
        <div class="col-8 entry-viewer-container" v-show="entryViewer.show">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix text-right">
                        <h4 class="card-title float-left">{{entryViewer.viewedEntry.name}}</h4>
                        <button class="btn btn-secondary btn-sm" v-on:click="viewerClose">back</button>
                    </div>

                    <p class="card-text content-text">
                        <template v-for="contentItem in entryViewer.contentList">
                            <span v-if="contentItem.length">{{contentItem}}</span>
                            <button v-else type="button" class="btn btn-secondary btn-inline" v-on:click="linkViewerLoad(contentItem, $event.pageX, $event.pageY)">{{contentItem.name}}</button>
                        </template>
                    </p>

                    <button type="button" class="btn btn-primary" v-on:click="editorLoad(entryViewer.viewedEntry)">Edit</button>
                </div>
            </div>
        </div>

        @* entry editor *@
        <div class="col-8 entry-editor-container" v-show="editor.show">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <input class="form-control" type="text" v-model="editor.name" placeholder="name" />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="body" v-model="editor.body" v-on:keyup="editorBodyChanged"></textarea>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary" v-on:click="editorSave">Save</button>
                        <button type="button" class="btn btn-secondary" v-on:click="editorCancel">Cancel</button>
                    </div>

                    <button type="button" class="btn btn-secondary btn-inline mr-1 mb-1" v-for="link in editor.parsedLinks" v-on:click="linkViewerLoad(link, $event.pageX, $event.pageY)">
                        {{link.name}}
                    </button>
                </div>
            </div>
        </div>

        @* link lister *@
        <div class="col-4 link-list-container">
            <button type="button" class="btn btn-primary btn-block" v-on:click="startNewLink($event.pageX, $event.pageY)">+ New</button>

            <div class="card" v-for="linkType in linkList.linkTypes">
                <div class="card-body">
                    <h4 class="card-title">{{linkType}}</h4>

                    <button type="button" class="btn btn-secondary mr-1 mb-1 btn-inline" v-for="link in linkList.linkTypeTree[linkType]" v-on:click="linkViewerLoad(link, $event.pageX, $event.pageY)">
                        {{link.name}}
                    </button>
                </div>
            </div>
        </div>

        @* link viewer *@
        <div class="link-viewer-container" v-show="linkViewer.show" v-bind:style="{ top: linkViewer.position.y + 'px', left: Math.min(linkViewer.position.x, window.innerWidth - 400) + 'px' }">
            <div class="card">
                <div class="card-body">
                    <div class="text-right clearfix">
                        <h4 class="float-left">{{linkViewer.name}}</h4>
                        <button class="btn btn-sm btn-secondary" v-on:click="linkViewerClose">X</button>
                    </div>

                    <div class="text-muted">
                        {{linkViewer.type}}
                    </div>

                    <p class="card-text content-text">
                        <template v-for="contentItem in linkViewer.contentList">
                            <span v-if="contentItem.length">{{contentItem}}</span>
                            <button v-else type="button" class="btn btn-secondary btn-inline" v-on:click="linkViewerLoad(contentItem)">{{contentItem.name}}</button>
                        </template>
                    </p>

                    <button type="button" class="btn btn-primary" v-on:click="linkEditorLoad(linkViewer.linkData, linkViewer.position.x, linkViewer.position.y)">Edit</button>
                </div>
            </div>
        </div>

        @* link editor *@
        <div class="link-editor-container" v-show="linkEditor.show" v-bind:style="{ top: linkEditor.position.y + 'px', left: Math.min(linkEditor.position.x, window.innerWidth - 400) + 'px' }">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <input class="form-control" type="text" v-model="linkEditor.name" />
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="text" v-model="linkEditor.type" />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" type="text" v-model="linkEditor.body"></textarea>
                    </div>

                    <button type="button" class="btn btn-primary" v-on:click="linkEditorSave">Save</button>
                    <button type="button" class="btn btn-secondary" v-on:click="linkEditorCancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        @* left navigation column *@
        @*<div class="col-8 text-center" v-show="mode === 'browsing'">
                <h4>Entries</h4>
                <button type="button" class="btn btn-primary" v-on:click="startNewEntry">+ New</button>

                <ul class="list-group">
                    <li class="list-group-item" v-for="entry in entries">
                        <a href="#" class="nav-link" v-on:click="viewEntry(entry)">{{entry.name}}</a>
                    </li>
                </ul>
            </div>*@

        @* left viewing column  *@
        @*<div class="col-8" v-show="mode === 'viewing'">
                <div class="card">
                    <div class="card-body">
                        <h4>{{viewedEntry.name}} <button v-on:click="closeViewedEntry" class="btn btn-secondary float-right">X</button></h4>
                        <p class="card-text">{{viewedEntry.body}}</p>
                    </div>
                </div>
            </div>*@

        @* left editing column *@
        @*<div class="col-8" v-show="mode === 'editing'">
                <div class="card">
                    <div class="card-body">
                        <div class="form-inline">
                            <div class="form-group">
                                <input type="text" placeholder="Entry Name" class="form-control" v-model="editor.name" />
                            </div>
                            <div class="form-group">
                                <button type="button" v-on:click="editorSaveEntry" class="btn btn-primary ml-3">save</button>
                                <button type="button" v-on:click="editorCancelEdits" class="btn btn-secondary ml-3">cancel</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea placeholder="body" class="form-control" v-modl="editor.body"></textarea>
                        </div>
                    </div>
                </div>
            </div>*@

        @* right link list column *@
        @*<div class="col-4 text-center">
                <h4>Links</h4>
                <button type="button" class="btn btn-primary" v-on:click="startNewLink">+ New</button>

                <div class="row">

                    <button type="button" class="btn btn-secondary" v-for="link in links">
                        {{link.name}}
                    </button>
                </div>
            </div>*@


        <div class="">

        </div>

    </div>
</div>
<script src="~/Scripts/JournalApi.js"></script>
<script src="~/Scripts/JournalViewmodel.js"></script>